body {
  font-size: 14px;
  color: #fff;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;;
}
#header-nav {
  border-radius: 0;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 0;
}

#header-nav .container{
	margin:0;
	padding: 0;
}

#header-nav .navbar-brand{
	margin: 10px 0 0 30px;
    padding: 0;
}

#header-nav .navbar-collapse{
	padding: 0;
}
.navbar-brand a h1{
	color: black;
	margin:0;
	font-size: 1.75em;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.cont1{
	margin: 0;
	padding: 0;
    width: 100%;
}

.row1{
	margin:0 30px 0 30px;
}

.cont1 h2{
	color: #000;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.5em;
}

.row1 h3{
	text-align: center;
	font-size: 1.25em;
	margin-bottom: 30px;
}

.sections{
	color: #000;
	border: 1px solid #b2b2b2;
	margin-bottom: 30px;
	background-color: #eaeaea ;
}

.sections .cols{
	font-size: 1em;
}
.navbar-toggle{
	margin: 10px 30px 0 0;
}
#nav-list{
	margin: 0;
}
#nav-list li{
	border-bottom: 1px solid #E1E1E1;
	background-color: #d4d2d2;
}
#nav-list li:nth-child(3){
	border-bottom: none;
}

#nav-list a{
	color: #000;
	text-align: center;
}

@media (max-width: 767px){
	.navbar-brand a h1{
		font-size: 1.5em;
		margin-top:5px;
	}
	.cont h2{
		font-size: 1.3em;
	}
	.row1 h3{
		font-size: 1.15em;
	}
	
	
}